<h1>Importing the API to Postman</h1>
<ol>
    <li><p>Download the Postman collection from <a download href="/swapi.postman_collection.json">here</a>.</p></li>
    <li><p>In Postman, click "Import" in the workspace sidebar and then open the downloaded collection.</p></li>
</ol>
